<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Carrito de Compras</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <style>
    .producto-imagen {
      max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
      height: auto; /* Permite que la altura se ajuste automáticamente */
    }
  </style>
</head>
<body id="navssss">
  {% include 'base/header.html' %}

  <h2>Carrito de Compras</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in carrito_items %}
        <tr>
          <td>
            <img src="{{ item.figura.imagen.url }}" alt="{{ item.figura.nombre }}" class="producto-imagen">
            {{ item.figura.nombre }}
          </td>
          <td>${{ item.figura.precio }}</td>
          <td>{{ item.cantidad }}</td>
          <td>${{ item.subtotal }}</td>
          <td>
            <form action="{% url 'restar_del_carrito' item.id %}" method="post">
              {% csrf_token %}
              <button type="submit" name="operacion" value="restar">-</button>
            </form>
            <a href="{% url 'eliminar_del_carrito' item.id %}">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="3"><strong>Total:</strong></td>
        <td>${{ total }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <button class="banner-btn bg-alert"><a href="{% url 'catalogo' %}">Seguir comprando</a></button>
  {% include 'base/footer.html' %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
