<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body id="navssss">
  {% include 'base/header.html' %} 
    <div class="container-fluid" id="formulario3">
        <div class="p-5 rounded">
          <h1>Preguntas Frecuentes</h1> 
        </div>
    </div>
    <section class="section1 p-3">
        <img src="{% static 'img/fondo2.gif'%}" width="700px">
    </section>
    <div id="accordion" class="p-5">
        <div class="card py-3" id="formulario2">
          <div class="card-header bg-warning-subtle">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
              ¿Son una pagina de confianza?
            </a>
          </div>
          <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      
        <div class="card py3 " id="formulario2">
          <div class="card-header bg-warning-subtle">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
              ¿Hay algún tipo de garantia?
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      
        <div class="card py-3" id="formulario2">
          <div class="card-header bg-warning-subtle">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
              ¿Qué metodo de pagos se pueden utilizar?
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'base/footer.html' %} 
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>