<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body id="navssss">
  {% include 'base/header.html' %} 

    <div class="container-fluid" id="formulario3">
        <div class="p-5 rounded">
          <h1>Preguntas Frecuentes</h1> 
        </div>
    </div>
    <section class="section1 p-3">
        <img src="{% static 'img/fondo2.gif'%}" width="700px">

    </section>
    <div id="accordion" class="p-5">

        <div class="card py-3" id="formulario2">
          <div class="card-header bg-warning-subtle">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
              ¿Son una pagina de confianza?
            </a>
          </div>
          <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      
        <div class="card py3 " id="formulario2">
          <div class="card-header bg-warning-subtle">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
              ¿Hay algún tipo de garantia?
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      
        <div class="card py-3" id="formulario2">
          <div class="card-header bg-warning-subtle">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
              ¿Qué metodo de pagos se pueden utilizar?
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
    </div>
    <div class="containerfooter container-fluid">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
        <div class="col mb-3">
          <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <a class="navbar-brand" href="#">
            <img class="card_img" src="../img/logodef.png"  width="200">
          </a>
          <p class="text-center">© 2024</p>
        </div>
  
    
        <div class="col mb-3 py-5">
          <h5 class="py-2">Servicio</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Inicio</a></li>
            <li class="nav-item mb-3"><a href="somos.html" class="nav-link p-0  text-light">Quienes somos?</a></li>
            <li class="nav-item mb-3"><a href="preguntasF.html" class="nav-link p-0 text-light">Preguntas Frecuentes</a></li>
  
          </ul>
        </div>
    
        <div class="col mb-3 py-5">
          <h5 class="py-2">Redes sociales</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Whatsapp</a></li>
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Instagram</a></li>
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Twitter</a></li>
          </ul>
        </div>
    
        </div>
      </footer>
    </div>
      <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>